<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WebApplicationTesting/src/com/DropDown_Write/NewTours_Register_CountryNames_WriteIntoExcel.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.DropDown_Write.NewTours_Register_CountryNames_WriteIntoExcel"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WebApplicationTesting"/>
</launchConfiguration>
